<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings>
      <add name="DefaultConnection"
           connectionString="Data Source=tcp:azurelabdb.database.windows.net,1433;Initial Catalog=epamazurelab_db;User Id=epamazurelab@azurelabdb;Password=14or@llAnd@ll4or1"
           providerName="System.Data.SqlClient"
           xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  <appSettings>
    <add key="ida:Realm" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" value="https://epamazurelab.onmicrosoft.com/WebApp-epamazurelab.azurewebsites.net" />
    <add key="ida:AudienceUri" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" value="https://epamazurelab.onmicrosoft.com/WebApp-epamazurelab.azurewebsites.net" />
    <add key="ida:ClientID" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" value="8bd93965-a516-4c9d-9033-f0b213baed70" />
    <add key="ida:Password" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" value="Ibp3bpGvyFk5Vz6o7PyhHoN4ixvZd4ViZhXWv7ExB4o=" />
  </appSettings>
  <system.identityModel>
    <identityConfiguration>
      <audienceUris xdt:Transform="Replace">
        <add value="https://epamazurelab.onmicrosoft.com/WebApp-epamazurelab.azurewebsites.net" />
      </audienceUris>
    </identityConfiguration>
  </system.identityModel>
  <system.identityModel.services xdt:Transform="Replace">
    <federationConfiguration>
      <cookieHandler requireSsl="true" />
      <wsFederation passiveRedirectEnabled="true" issuer="https://login.windows.net/epamazurelab.onmicrosoft.com/wsfed" realm="https://epamazurelab.onmicrosoft.com/WebApp-epamazurelab.azurewebsites.net" requireHttps="true" />
    </federationConfiguration>
  </system.identityModel.services>
</configuration>
