<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings>
      <add name="DefaultConnection"
           connectionString="Data Source=tcp:azurelabdb.database.windows.net,1433;Initial Catalog=epamazurelab_db;User Id=epamazurelab@azurelabdb;Password=14or@llAnd@ll4or1"
           providerName="System.Data.SqlClient"
           xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  <appSettings>
      <add key="ida:Realm" value="https://az2Domain.onmicrosoft.com/geekquiz20160124042718" />
      <add key="ida:AudienceUri" value="https://az2Domain.onmicrosoft.com/geekquiz20160124042718" />
      <add key="ida:ClientID" value="81c39e4e-70ea-4a1b-ab81-8ef737b59dc6" />
      <add key="ida:Password" value="c7S21jliL2jLkmyKIzooOqidxocKjdy+MUTf69HIePs=" />
  </appSettings>
  <system.identityModel>
    <identityConfiguration>
      <audienceUris xdt:Transform="Replace">
          <add value="https://az2Domain.onmicrosoft.com/GeekQuiz" />
      </audienceUris>
    </identityConfiguration>
  </system.identityModel>
  <system.identityModel.services xdt:Transform="Replace">
    <federationConfiguration>
      <cookieHandler requireSsl="true" />
        <wsFederation passiveRedirectEnabled="true"
                        issuer="https://login.windows.net/az2Domain.onmicrosoft.com/wsfed"
                      realm="https://login.windows.net/az2Domain.onmicrosoft.com/wsfed"
                      requireHttps="true" />
    </federationConfiguration>
  </system.identityModel.services>
</configuration>
