<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <EnableADPublish>true</EnableADPublish>
    <ADDirectoryAccessLevel>1</ADDirectoryAccessLevel>
    <ADDomain>az2Domain.onmicrosoft.com</ADDomain>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://websitecgr6zaz7oy3h6.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>websitecgr6zaz7oy3h6.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>webSitecgr6zaz7oy3h6</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$webSitecgr6zaz7oy3h6</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:sqlservercgr6zaz7oy3h6.database.windows.net,1433;Initial Catalog=testDatabase;User ID=ZYMCwjKrbK@sqlservercgr6zaz7oy3h6;Password=&quot;auJast_1&gt;&lt;32=j8&quot;" Name="Data Source=tcp:sqlservercgr6zaz7oy3h6.database.windows.net,1433;Initial Catalog=testDatabase;User Id=ZYMCwjKrbK@sqlservercgr6zaz7oy3h6;Password=auJast_1&gt;&lt;32=j8" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="GeekQuiz.Models.TriviaContext, GeekQuiz" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADAppIDUri>https://az2Domain.onmicrosoft.com/WebApp-websitecgr6zaz7oy3h6.azurewebsites.net</ADAppIDUri>
    <ADDestinationProvisioned>True</ADDestinationProvisioned>
    <ADClientAPPID>caad6f0c-657a-4ee1-a14f-8957f0fb1503</ADClientAPPID>
    <ADClientPassword>2051arMmr7NoJcvMGLpFqC8Q4TGJaqokDww+dHFLdKQ=</ADClientPassword>
    <ADReplyUrl>https://websitecgr6zaz7oy3h6.azurewebsites.net/</ADReplyUrl>
    <ADIssuer>https://login.windows.net/az2Domain.onmicrosoft.com/wsfed</ADIssuer>
    <ADTenantId>59ddaf48-bc8c-4780-814b-32e68a3a4986</ADTenantId>
    <ADPostLogoutRedirectUri />
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:sqlservercgr6zaz7oy3h6.database.windows.net,1433;Initial Catalog=testDatabase;User Id=ZYMCwjKrbK@sqlservercgr6zaz7oy3h6;Password=auJast_1&gt;&lt;32=j8</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>